<div title="{{schedule.start | date }} - {{schedule.end | date }}" ng-Style="" ng-click="clicked()">
  <div ng-show="item.editable !== false" class="handle left" ondrag="resize" ondragstart="startResizeStart" ondragstop="endDrag" handle></div>
  <div ondrag="drag" ondragstart="startDrag" ondragstop="endDrag" handle>{{schedule.label}}</br>{{schedule.start | date:"dd MMM"}} - {{schedule.end | date:"dd MMM"}}
  </div>
  <div ng-show="item.editable !== false" class="handle right" ondrag="resize" ondragstart="startResizeEnd" ondragstop="endDrag" handle></div>
</div>